include ../button/button

mixin header(options)
    header.header
        div.header__content
            a.header__logo-wrapper(href="/")
                img(class="header__logo" src=require('../components/header/logo.svg') alt="logo")
            div.header__interface.js-header__interface
                nav.header__menu.js-header__menu
                    div.header__menu-element
                        a(href="/about")="О нас"
                    div.header__menu-element.header__menu-element_parent.js-header__menu-element_parent="Услуги"
                        div.header__submenu
                            div.header__submenu-element
                                a(href="/service1")="Услуга1"
                            div.header__submenu-element
                                a(href="/service2")="Услуга2"
                            div.header__submenu-element
                                a(href="/service3")="Услуга3"
                    div.header__menu-element
                        a(href="/careers")="Вакансии"
                    div.header__menu-element
                        a(href="/news")="Новости"
                    div.header__menu-element.header__menu-element_parent.js-header__menu-element_parent="Соглашения"
                        div.header__submenu
                            div.header__submenu-element
                                a(href="/documentation1")="Соглашение1"
                            div.header__submenu-element
                                a(href="/documentation2")="Соглашение2"
                            div.header__submenu-element
                                a(href="/documentation3")="Соглашение3"
                    if (options.signedIn)
                        div.header__signed-info="Cosmin Negoita"
                    else
                        div.header__sign-buttons
                            div.header__sign-in
                                +button({title: "Войти", theme: "white", type: "link", href: "/login.html"})
                            div.header__sign-up
                                +button({title: "Зарегистрироваться", type: "link", href: "/registration.html"})
                div.header__menu-expand-button.js-header__menu-expand-button
                    div.header__menu-expand-bar1
                    div.header__menu-expand-bar2
                    div.header__menu-expand-bar3