mixin input(options)
    -
        var placeholder = options.placeholder?options.placeholder:''
        var value = options.value?options.value:'';
        var mainClass = "input";
        mainClass += options.focusDemoMode?" input_focus-demo-mode":"";
        mainClass += options.masked?" input_masked js-input_masked":"";
        mainClass += options.subscription?" input_subscription":"";
    div(class=mainClass)
        if (options.title || options.subtitle)
            div(class="input__titles")
                div(class="input__title")
                    h3=options.title
                if options.subtitle
                    div(class="input__subtitle")
                        h3=options.subtitle
        div.input__content
            input(class="input__input js-input__input" placeholder=options.placeholder required=options.required value=options.value type=options.type || 'text' name=options.name )
            if (options.subscription)
                input(class="input__subscription-button" type="submit" value="")

