mixin rate-button(options)
    div(class="rate-button")
        input(class="rate-button__input" type="radio" value="5" name=options.name id=options.name+"-star-5")
        label(class="rate-button__element" for=options.name+"-star-5")
        input(class="rate-button__input" type="radio" value="4" name=options.name id=options.name+"-star-4")
        label(class="rate-button__element" for=options.name+"-star-4")
        input(class="rate-button__input" type="radio" value="3" name=options.name id=options.name+"-star-3")
        label(class="rate-button__element" for=options.name+"-star-3")
        input(class="rate-button__input" type="radio" value="2" name=options.name id=options.name+"-star-2")
        label(class="rate-button__element" for=options.name+"-star-2")
        input(class="rate-button__input" type="radio" value="1" name=options.name id=options.name+"-star-1")
        label(class="rate-button__element" for=options.name+"-star-1")