mixin input-field(options)
    -
        var placeholder = options.placeholder?options.placeholder:''
        var value = options.value?options.value:'';
        var type = options.type || 'text';
        var mainClass = "input-field";
        mainClass += options.focusDemoMode?" input-field_focus-demo-mode":"";
        mainClass += options.type == "masked"?" input-field_masked":"";
        mainClass += options.type == "subscription"?" input-field_subscription":"";
    div(class=mainClass)
        if (options.title || options.subtitle)
            div(class="input-field__titles")
                div(class="input-field__title")
                    h3=options.title
                if options.subtitle
                    div(class="input-field__subtitle")
                        h3=options.subtitle
        input(class="input-field__input" placeholder=options.placeholder value=options.value type=type)
        div.input-field__subscription-button