include ../round-button/round-button
include ../dropdown-item/dropdown-item

mixin dropdown(options)
    -
        var mainClasses = "dropdown js-dropdown";
        mainClasses += options.type == "bedroom"?" dropdown_bedroom":"";
        if (options.expandable) mainClasses += " js-dropdown_expandable"
    div(class=mainClasses)
        div(class="dropdown__titles")
            div(class="dropdown__title")
                h3=options.title
            if options.subtitle
                div(class="dropdown__subtitle")
                    h3=options.subtitle
        div(class="dropdown__select js-dropdown__select")
                div(class="dropdown__value")=options.defaultText
        if options.type == "bedroom"
            div(class="dropdown__content")
                +dropdown-item({title:'спальни'})
                +dropdown-item({title:'кровати'})
                +dropdown-item({title:'ванные комнаты'})
        else if options.type == "guest"
            div(class="dropdown__content")
                +dropdown-item({title:'взрослые'})
                +dropdown-item({title:'дети'})
                +dropdown-item({title:'младенцы'})
                div(class="dropdown__actions")
                    h3
                        a(class="dropdown-link dropdown-link_cancel dropdown-link_disabled" href="/emptylink")="очистить"
                    h3
                        a(class="dropdown-link dropdown-link_ok" href="/emptylink")="применить"