include ../round-button/round-button
include ../dropdown-item/dropdown-item

mixin dropdown(options)
    -
        var mainClasses = "dropdown";
        mainClasses += options.isBedroom?" dropdown_bedroom":"";
    div(class=mainClasses)
        div(class="dropdown__titles")
            div(class="dropdown__title")
                h3=options.title
            if options.subtitle
                div(class="dropdown__subtitle")
                    h3=options.subtitle
        div(class="dropdown__select")
            div(class="dropdown__value")=options.isBedroom?'Не задано':'Сколько гостей'
        div(class="dropdown__content")
            if options.isBedroom
                +dropdown-item({title:'спальни'})
                +dropdown-item({title:'кровати'})
                +dropdown-item({title:'ванные комнаты'})
            else
                +dropdown-item({title:'взрослые'})
                +dropdown-item({title:'дети'})
                +dropdown-item({title:'младенцы'})
                div(class="dropdown__actions")
                    h3
                        a(class="dropdown-link dropdown-link_cancel dropdown-link_disabled" href="#")="очистить"
                    h3
                        a(class="dropdown-link dropdown-link_ok" href="#")="применить"